<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav d-flex align-items-center">
    <a class="nav-item nav-link fw-bold fs-4">RNC <span class="visually-hidden">(current)</span></a>
    <a class="nav-item nav-link" [routerLink]="[ '/calculator' ]" routerLinkActive="active">Calculator</a>
    <a class="nav-item nav-link" [routerLink]="[ '/umts' ]" routerLinkActive="active">UMTS Campbell</a>
    <a class="nav-item nav-link" [routerLink]="[ '/aboutus' ]" routerLinkActive="active">About Us</a>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      Copyright © 2021 Groupe 1 Tech2 ULPGL. All rights reserved.
    </div>
  </div>
</footer>
