<div class="container">
  <div class="row">
    <h3>Information</h3>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Area</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="area" placeholder="area in kilometers" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="antenna.sector">
          <option selected>Type</option>
          <option [ngValue]="1">Omni</option>
          <option [ngValue]="2">2 Sectors</option>
          <option [ngValue]="3">3 Sectors</option>
          <option [ngValue]="6">6 Sectors</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Charge factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="chargeFactor" placeholder="Charge factor in %" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Effective height</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="hEff" placeholder="Charge factor in %" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Chip Rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="chipRate" placeholder="Chip Rate in kcps" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Interference factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="interferenceFactor" placeholder="interference factor between 0 and 1" />
      </div>
    </div>
  </div>
  <div class="row">
    <h4>UpLink budget</h4>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">Vocal Service</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">CS64</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">PS64/64</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">PS64/128</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">PS64/384</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1 mb-2">
      <div class="d-grid gap-2">
        <button type="button" name="" id="" class="btn btn-primary" (click)="computeUpLink()">Compute</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="uplink">
    <h5>Results</h5>
    <div col-1>
      Min range: {{uplink.minRange()}} Km
      <br>
      coverage: {{uplink.coverage()}} Km²
      <br>
      bss: {{uplink.bss()}}
      <br>
      relative amplitudes:  <div *ngFor="let amplitude of uplink.relativeAmplitudes()">
        {{amplitude.service.name}}: {{amplitude.value}},
        <br>
      </div>
      mean: {{uplink.mean()}}
      <br>
      variance: {{uplink.variance()}}
      <br>
      capacity factor: {{uplink.capacityFactor()}}
      <br>
      virtual trafic: {{uplink.virtualTrafic()}}
      <br>
      vocal lines: {{uplink.lines()}}
      <br>
      cell capacity: {{uplink.cellCapacity()}} lines
      <br>
      number of cells: <input type="text" [(ngModel)]="erlangsCellTrafic" placeholder="Check erlang B table"> -> {{uplink.cells(erlangsCellTrafic)}}
      <br>
      Bss depend cells/sector/frequency: {{uplink.bssCells(erlangsCellTrafic)}}
      <br>
      Best BSS choice: {{uplink.bestBss(erlangsCellTrafic)}}

    </div>
  </div>
  <div class="row">
    <h4>DownLink budget</h4>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">Vocal Service</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice_dl.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice_dl.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice_dl.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice_dl.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="voice_dl.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">CS64</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64_dl.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64_dl.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64_dl.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64_dl.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cs64_dl.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">PS64/64</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64_dl.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64_dl.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64_dl.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64_dl.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_64_dl.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">PS64/128</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128_dl.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128_dl.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128_dl.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128_dl.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_128_dl.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text w-100" id="inputGroup-sizing-sm">PS64/384</span>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Data rate</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384_dl.dataRate" placeholder="voice rate in kbps" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Activity factor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384_dl.activityFactor" placeholder="activity factor between 0 and 1" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">S/N</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384_dl.signalOverNoise" placeholder="voice over noise unit less" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Predict trafic</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384_dl.predictTrafic" placeholder="predict trafic in Erl" />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Loss Path</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" [(ngModel)]="ps64_384_dl.maximumAttenuationPropagation" placeholder="path loss in dB" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <div class="d-grid gap-2">
        <button type="button" name="" id="" class="btn btn-primary" (click)="compute()">Compute</button>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="downlink">
    <h5>Results</h5>
    <div col-1>
      bss: {{downlink.lastBss}}
      <br>
      means trafic:  <div *ngFor="let mean of downlink.meansTrafic()">
        {{mean.service.name}}: {{mean.value}},
        <br>
      </div>
      relative amplitudes:  <div *ngFor="let amplitude of downlink.relativeAmplitudes()">
        {{amplitude.service.name}}: {{amplitude.value}},
        <br>
      </div>
      mean: {{downlink.mean()}}
      <br>
      variance: {{downlink.variance()}}
      <br>
      capacity factor: {{downlink.capacityFactor()}}
      <br>
      virtual trafic: {{downlink.virtualTrafic()}}
      <br>
      number of cells provided: <input type="text" [(ngModel)]="erlangsCellTraficDl" placeholder="Check erlang B table"> -> {{downlink.channelProvided(erlangsCellTraficDl)}}
      <br>
      number of cells capable provided: {{downlink.channelCapableProvided()}}
      <br>
      bss: {{downlink.lastBss}}
      <button (click)="increment()">+</button>
      <button (click)="decrement()">-</button>
      <br>
    </div>
  </div>
</div>
